th, td {
    text-align: center;
    height: 40px;
}
.user_ready{
	background-color: #5B1112;
	color: #FFF;
	font-size: 25px;
}
table{
	width: 80%;
	margin: auto;
}
#logreg{
	margin: auto;
	height: 100vh;
	display: table;
	width: 100%;
	font-size: 18px;
}